@media (max-width: 1200px) {
    .header__logo {
        margin-left: 5%;
    }
    nav {
        margin-right: 3%;
    }

    .about {
        height: auto;
        padding: 60px 0;
    }
    .about__img {
        margin-right: 10px;
    }
}

@media (max-width: 992px) {
    header {
        position: absolute;
        background-color: #000;
    }
    .header__logo {
        position: absolute;
    }
    .topnav {
        display: block;
    }
    .topnav a {
        display: none;
        margin: 0;
        padding: 0;
    }
    .topnav a.icon {
        display: block;
        border-bottom: none;
        font-size: 30px;
        float: right;
        margin-right: 20px;
    }
    nav {
        width: 100%;
        margin: 0;
    }
    .topnav.responsive {
        position: relative;
        top: 286px;
        background: #000;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: -80px;
        border-bottom: none;
    }
    .topnav a:hover {
        border-bottom: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        border-bottom: 2px solid #fff;
    }
    .topnav.responsive a:first-child {
        border-top: 2px solid #fff;
    }

    .about {
        height: auto;
        padding: 60px 20px;
    }
    .about__block {
        grid-template-areas: "img"
                             "content";
        grid-auto-columns: 1fr 1fr;
    }
    .about__img {
        display: none;
    }
    .about__content h1 {
        text-align: center;
        margin-bottom: 30px;
    }
    .about__content p {
        margin-bottom: 45px;
    }
}

@media (max-width: 768px) {
    .home__block h1 {
        font-size: 28px;
    }
    .home__block p {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 20px;
    }

    .about {
        padding: 20px 20px;
    }
}

@media (max-width: 576px) { 
    
}

@media (max-width: 480px) { 
    .home {
      height: auto;
      padding: 110px 0 45px;
    }

    .about__content h1 {
        font-size: 20px;
    }
}