body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.section {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.middle {
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1124px;
    margin: 0 auto;
}

.section-name {
    font-size: 44px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 30px;
    position: relative;
}

.section-name::after {
    content: '';
    width: 100px;
    height: 5px;
    background-color: #fcac45;
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
}

.section-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
}

.section-column-item {
    padding: 20px 10px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
}


/* ----------------- HEADER ------------------ */

header {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    margin-left: 12%;
}
.header__logo a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
    line-height: 80px;
}

nav {
    margin-right: 8%;
}
.topnav a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    margin-left: 40px;
    padding: 0 2px 10px 2px;
    border-bottom: 0 solid #fcac45;
}
.topnav a:hover {
    border-bottom: 3px solid #fcac45;
    transition: 300ms;
}
.topnav .active {
    border-bottom: 3px solid #fcac45;
}
.topnav .icon {
    display: none;
}

/*********************************************/
/* ----------------- HOME ------------------ */
/*********************************************/

.home {
    background: url('../img/kosmos-min.jpg') top center;
    background-size: cover;
}
.home__block {
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 0 10px 10px;
}
.home__block h1 {
    color: #999999;
    font-size: 44px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -2.2px;
    margin-bottom: 20px;
}
.home__block h1 span {
    color: #fcac45;
    font-weight: 700;
}
.home__block p {
    font-size: 20px;
    letter-spacing: -1px;
}
.home__block p span {
    font-weight: 700;
}

/*********************************************/
/* ----------------- HOME ------------------ */
/*********************************************/

.about {
    background-image: linear-gradient(to top, rgba(94, 91, 91, 0.541), rgba(94, 91, 91, 0.541)), url(../img/about-bg.jpg);
    background-position: top center;
    background-size: cover;
}

.about__block {
    display: grid;
    grid-auto-columns: 1fr 442px;
    grid-template-areas: "img content";
}

.about__img {
    grid-area: img; 
    margin-right: 131px;
}

.about__content {
    grid-area: content;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
}

.about__content h1 {
    color: #222222;
    font-size: 34px;
    text-transform: uppercase;
    border-bottom: 4px solid #fcac45;
    padding-bottom: 20px;
}

.about__content h1 span {
    font-weight: 700;
    letter-spacing: -0.68px;
}

.about__content p {
    color: #6c6c6c;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.72px;
}

.about__content_list {
    padding-left: 25px;
    color: #5a5a5a;
    font-size: 16px;
    font-style: italic;
    letter-spacing: -0.18px;
}

.about__content_list li {
    margin-bottom: 16px;
    position: relative;
}

.about__content_list li::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 7px);
    left: -25px;
    width: 14px;
    height: 14px;
    background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    border: 4px double #000;
    box-sizing: border-box;
}

.about__content_list span {
    font-weight: 600;
    font-style: normal;
}

/*********************************************/
/* ----------------- TEAM ------------------ */
/*********************************************/

.team {
    padding: 100px 0 165px;
    background-image: linear-gradient(to top, rgba(94, 91, 91, 0.541), rgba(94, 91, 91, 0.541)), url(../img/team-bg.jpg);
    background-position: top center;
    background-size: cover;
}
.team__name {
    margin-bottom: 105px;
}
.person__item_photo {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-bottom: 22px;
    background: #494949;
}
.person__item_name{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.person__item_function {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
}
.person__item_about {
    font-size: 14px;
    line-height: 24px;
}

/*********************************************/
/* ----------------- SERVICES ------------------ */
/*********************************************/

.services {
    padding: 100px 0;
    background-image: linear-gradient(to top, rgba(165, 165, 165, 0.541), rgba(165, 165, 165, 0.541)), url(../img/services-bg.jpg);
    background-position: top center;
    background-size: cover;
    text-align: center;
}

.services__name {
    margin-bottom: 55px;
    color: #222222;
}

.services__description {
    color: #6c6c6c;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    margin-bottom: 100px;
    background: rgba(255, 255, 255, 0.6);
}

.services__block {

}

.services__item {
    color: #222222;
    background: rgba(255, 255, 255, 0.6);
}

.services__item_photo {
    margin: 0 auto;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 6px solid #fcac45;
    margin-bottom: 30px;
}

.services__item_name {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.services__item_about {
    font-size: 14px;
    line-height: 21px;
}